<div class="container">
  <div class="page-header clearfix">
    {{#link-to 'index' class="pull-left"}}
      <h1>Rock & Roll<small> with Ember.js</small></h1>
    {{/link-to}}
    {{#link-to 'artists' class="pull-right"}}
      <h4>Artists</h4>
    {{/link-to}}
  </div>
  <div class="row">
    {{outlet}}
  </div>
</div>
