<div class="container">
  <div class="page-header">
    {{#link-to 'index'}}
      <h1>Rock & Roll<small> with Ember.js</small></h1>
    {{/link-to}}
    <ul class="site-links nav nav-pills">
      <li class="site-link">{{link-to 'Bands' 'bands'}}</li>
      <li class="site-link">{{link-to 'Artists' 'artists'}}</li>
    </ul>
  </div>
  <div class="row">
    {{outlet}}
  </div>
</div>
