<div class="col-md-4">
  <div class="list-group">
    {{#each model as |artist|}}
      {{#link-to "artist" artist.id class="list-group-item"}}
        {{artist.firstName}} {{artist.lastName}}
      {{/link-to}}
    {{/each}}
  </div>
</div>
