<div class="col-md-4">
  <div class="list-group">
    {{#each artists as |artist|}}
      {{#link-to "artist" artist.id class="list-group-item"}}
        {{artist.firstName}} {{artist.lastName}}
      {{/link-to}}
    {{/each}}
    {{#if isFetchingMore}}
      <div class="loading-pane list-group-item">
        <div class="loading-message">
          Loading data
          <div class="spinner"></div>
        </div>
      </div>
    {{/if}}
  </div>
</div>
